<%- include('../layouts/header'); -%>

    <h1> Your projects </h1>
    <%
        if(myProjects.length == 0){
    %>
            <div> No created Projects</div>
    <%
    }
    for(var i = 0; i <  myProjects.length; ++i){
    %>
        <div>
            <%= myProjects[i].approval === 0 ? 'Pending ' : 'Approved '%>
            <a href="/project?pid=<%= myProjects[i].projectId %>"> <%= myProjects[i].name %> </a>
        </div>
    <%
    }
    %>

    <div>
        <button class="open-button" onclick="openForm()">Create new Project</button>
    </div>
    <div class="form-popup" id="myForm" style="display: none;">
        <form action="/createProject" method="post" class="form-container">

            <label for="email"><b> Name</b></label>
            <input type="text" id="projectName" placeholder="Project Name" name="name" required>
            <br>
            <label for="email"><b> invite Client</b></label>
            <input type="text" id="clientMail"  placeholder="Client Mail" name="clientMail">
            <button type="button"  onclick="invite()">Invite</button>
            <br>

            <button type="button"  onclick="getBas()">Invite BA</button>
           
           <!-- LIST -->
            <div id="ba-list"> </div>
            
            <button type="submit" >Create</button>
            <button type="button" onclick="closeForm()">Close</button>
        </form>
    </div>

    <h1> Projects that you are  participating in</h1>
    
    
    <%
    for(var i = 0; i <  projects.length; ++i){
    %>
        <div>
            <%= projects[i].approval === 0 ? 'Pending ' : 'Approved '%>
            <a href="/project?pid=<%= projects[i].projectId %>"> <%= projects[i].name %> </a>
        </div>
    <%
    }
    %>
    
    <script src="/assets/js/baHomeScript.js"></script>
<%- include('../layouts/footer'); -%>